{
  "openapi": "3.0.1",
  "info": {
    "title": "Replication",
    "description": "SAP Responsible Design and Production provides a public API for data replication. The API allows to replicate data from your system(s) into SAP Responsible Design and Production.",
    "version": "1.0.1"
  },
  "x-sap-shortText": "Enables you to replicate data from external systems into SAP Responsible Design and Production.",
  "x-sap-stateInfo": {
    "state": "Active"
  },
  "servers": [
    {
      "url": "https://eu20.ce.sustainability.cloud.sap/api/replication/v1",
      "variables": {}
    },
    {
      "url": "https://us10-001.ce.sustainability.cloud.sap/api/replication/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/Divisions": {
      "put": {
        "tags": [
          "Organization Data"
        ],
        "summary": "Replicate divisions",
        "description": "Replicate divisions that should be used as organization data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateDivision",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestDivision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/CustomerExtensions": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Replicate customer extensions",
        "description": "Replicate customer extensions that should be used as customer data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "newCustomerExtension",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestCustomerExtension"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Suppliers": {
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Replicate suppliers",
        "description": "Replicate suppliers that should be used as supplier data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateSuppliers",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestSupplier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Plants": {
      "put": {
        "tags": [
          "Organization Data"
        ],
        "summary": "Replicate plant",
        "description": "Replicate plants that should be used as organization data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicatePlant",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/ProductGroups": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate product groups",
        "description": "Replicate product groups that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateRegions_2",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestProductGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Deliveries": {
      "put": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Replicate deliveries",
        "description": "Replicate deliveries that should be used as delivery data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateDeliveries",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestDelivery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/UnitOfMeasureDimensions": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate unit of measure dimensions",
        "description": "Replicate unit of measure dimensions that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateUnitOfMeasureDimensions",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestUnitOfMeasureDimension"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/DistributionChannels": {
      "put": {
        "tags": [
          "Organization Data"
        ],
        "summary": "Replicate distribution channels",
        "description": "Replicate distribution channels that should be used as organization data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateDistributionChannel",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestDistributionChannel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Currencies": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate currencies",
        "description": "Replicate currencies that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateCurrencies",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestCurrency"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Customers": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Replicate customers",
        "description": "Replicate customers that should be used as customer data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "newCustomer",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/UnitOfMeasureIsoCodes": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate unit of measure ISO codes",
        "description": "Replicate unit of measure ISO codes that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateUnitOfMeasureISOCodes",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestUnitOfMeasureISOCode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/DeliveryDocumentItemCategories": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate delivery document item categories",
        "description": "Replicate delivery document item categories that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateRegions_4",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestDeliveryDocumentItemCategory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Regions": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate states/provinces",
        "description": "Replicate states/provinces that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateRegions",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestRegion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/SalesOrganizations": {
      "put": {
        "tags": [
          "Organization Data"
        ],
        "summary": "Replicate sales organizations",
        "description": "Replicate sales organizations that should be used as organization data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateSalesOrganization",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestSalesOrganization"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/CompanyCodes": {
      "put": {
        "tags": [
          "Organization Data"
        ],
        "summary": "Replicate company codes",
        "description": "Replicate company codes that should be used as organization data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateCompanyCode",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestCompanyCode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/DeliveryDocumentTypes": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate delivery document types",
        "description": "Replicate delivery document types that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateRegions_3",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestDeliveryDocumentType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/BillingDocumentItem": {
      "put": {
        "tags": [
          "Billing Document Items"
        ],
        "summary": "Replicate billing document items",
        "description": "Replicate billing document items that should be used as billing document item data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateBillingDocumentItems",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestBillingDocumentItems"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Countries": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate country/region data",
        "description": "Replicate countries/regions that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateCountries",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestCountry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Batches": {
      "put": {
        "tags": [
          "Batches"
        ],
        "summary": "Replicate batches",
        "description": "Replicate batches that should be used as batch data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateBatch",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/MovementTypes": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate movement types",
        "description": "Replicate movement types that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateMovementTypes",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestMovementType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/UnitOfMeasures": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate units of measure",
        "description": "Replicate units of measure that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateUnitOfMeasures",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestUnitOfMeasure"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/SupplierInvoiceItem": {
      "put": {
        "tags": [
          "Supplier Invoice Items"
        ],
        "summary": "Replicate supplier invoice items",
        "description": "Replicate supplier invoice items that should be used as supplier invoice data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateSupplierInvoiceItem",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestSupplierInvoiceItems"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Products": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Replicate products",
        "description": "Replicate products that should be used as product data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateProducts",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/ProductExtensions": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Replicate product extensions",
        "description": "Replicate product extensions that should be used as product data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "newProductExtension",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestProductExtension"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/ProductTypes": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate product types",
        "description": "Replicate product types that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateRegions_1",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestProductType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/MaterialDocuments": {
      "put": {
        "tags": [
          "Material Documents"
        ],
        "summary": "Replicate material documents",
        "description": "Replicate material documents that should be used as material document data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "upsertMaterialDocument",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestMaterialDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Inventories": {
      "put": {
        "tags": [
          "Inventories"
        ],
        "summary": "Replicate inventories",
        "description": "Replicate calculated inventory quantities that should be used as inventory data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "upsertInventory",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestInventory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/Incoterms": {
      "put": {
        "tags": [
          "Incoterms"
        ],
        "summary": "Replicate incoterms",
        "description": "Receives the incoterms data from your source system, then stores it in SAP Responsible Design and Production. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "upsertIncoterm",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestIncoterm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/ProductHierarchies": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate delivery product hierarchies",
        "description": "Replicate product hierarchies that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateProductHierarchies",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestProductHierarchy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type: {unsupportedType}. Expected media type: {supportedType}",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "default": {
            "description": "This information should be available in every response.",
            "headers": {
              "sus-api-version": {
                "$ref": "#/components/headers/sus-api-version"
              }
            }
          }
        }
      }
    },
    "/ProductBrands": {
      "put": {
        "tags": [
          "Configuration Data"
        ],
        "summary": "Replicate product brands",
        "description": "Replicate product brands that should be used as configuration data. To find out, which SAP S/4HANA attributes match these API members, see [user guide](https://help.sap.com/viewer/01d581e7150c42f59b5234a76f5e8d2d/latest/en-US/64db67d600b549d2b3bd81c3689c8d95.html)",
        "operationId": "replicateProductBrands",
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Indicates to the server that the request body has been compressed using the gzip algorithm. It is recommended to compress the payload whenever possible. To be able to use this option, the payload must be compressed using gzip before sending.",
            "schema": {
              "type": "string",
              "example": "gzip"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationRequestProductBrands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Replication successful.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No valid access token was provided or it expired.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The provided access token does not contain the necessary scope.",
            "content": {
              "*/*": {
                "schema": {
[...]
